# Jekyll build files
/_site
_site
.sass-cache/
.jekyll-metadata
.jekyll-cache/

# Ruby build files
gemfiles/

# Node build files
node_modules/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
vendor
/resume

# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz